.blog{
    background-color: darkcyan;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #419ffc, 0 0 20px #5092d5, 0 0 25px #00dbe6, 0 0 30px #003ae6, 0 0 35px #002ee6;

}
.blogs{
    width: fit-content;
    border: 5px solid rgb(177, 151, 17);
    border-radius: 10px;
}
.blogs a{
    color: white;
    text-decoration: none;
    font-style: normal;
}
.blogs h2{
    background-color: gray;
    position: relative;
    padding-right: 150px;
    z-index: -100;
    border-radius: 0px;
    margin:auto;
}
body{
    background-color: black;
    color: white;
}
.blogs img{
    width: 300px;
}
.blogs:hover{
    rotate(5deg);
}
