.blog{
    background-color: darkcyan;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #419ffc , 0 0 50px white;
}
.blogs{
    width: fit-content;
    border: 5px solid rgb(177, 151, 17);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
    margin-left:10px;
}
.blogs a{
    color: white;
    text-decoration: none;
    font-style: normal;
}
.blogs h2{
    background-color: gray;
    position: relative;
    padding-right: 150px;
    z-index: -100;
    border-radius: 0px;
    margin:auto;
}
.blogs img{
    width: 300px;
}
.blogs:hover{
    margin-top:10px;
    margin-left:0px;
    box-shadow: 9px 9px 16px 2px rgba(0,0,0,0.7);

}
