.project{
    background-color: darkcyan;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #419ffc , 0 0 50px white;
}
.link a{
    color: black;
    border: 2px black solid;
    border-radius: 10px;
    font-size:15px;
    margin-top: 20px;
    margin-left:10px;
    padding: 5px;
    background-color: darkseagreen;
    width:180px;
    text-align: center;
    text-decoration:none;
    display:block;
}

body{
 display:grid;
}
