body{
    background-color: #0092AF;
  }




a{
    text-decoration: underline;
}
.h2{
      margin: auto;
    font-size: 42px;
    text-align:center;
    margin-top:30px;
    color: white;
    font-family:monospace;

}
h3{
    font-size: 40px;
}
.us{
    text-decoration: line-through;
    font-style: italic;
}
.Social{
    letter-spacing: 15px;
}
.description {

  border: solid 0px crimson;
  width:fit-content;
  margin:auto;
  padding:30px;
  border-radius:60px;
  background-color:aquamarine;
  box-shadow: inset 0px 0px 10px 2.5px white,  2px 0px 0px 1px cyan, -5px 0px 0px 1px crimson; 
  font-size:20px;
  }
  .AboutMe{

  border: solid 0px crimson;
  width:fit-content;
  margin:auto;
  padding:30px;
  border-radius:60px;
  background-color:aquamarine;
  box-shadow: inset 0px 0px 10px 2.5px white,  2px 0px 0px 1px cyan, -5px 0px 0px 1px crimson; 
  font-size:20px;
  }
  .red {
    font-weight: bold;
    color: #e74c3c;
  }
  .flourish {
    margin-left: 18em;
    color: purple;
    font-size: 22.5px;
    text-decoration: none;
    border: 0px black solid;
    background-color: black;
    padding: 5px;
    padding-top: 0%;
    border-radius: 0px 0px 20px 20px;
    }
  .flourish:hover{
    transition: all 1s ease-in-out 0s ;
    text-decoration: underline;
  }
#Robyte{
    margin: auto;
    margin-bottom: 0px;
    width: fit-content;
    font-size: 60px;
    font-weight: 900;
    font-family: 'ADLaM Display';
    border: 4px cyan solid;
    padding: 5px 15px 10px 15px;
    border-radius: 50px;
    background-color: darkcyan;
    color:white;
    text-shadow: 0px 0px 20px white;
    box-shadow: 0px 15px 7px 0px black;
}
#Robyte:active{
    margin-top: 16px;
    box-shadow: none;
    margin-bottom: 34px;

}

.nav a{
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
    font-size: 20px;
    font-weight: 900;
    font-family: 'ADLaM Display';
    border: 0px cyan solid;
    padding: 0px 5px 0px 5px;
    border-radius: 50px;
    background-color: #419ffc;
    color:white;
    box-shadow: 0px 10px 2px 0px darkcyan;
    text-decoration:none;
    display:inherit;
}
.nav a:active{
    margin-bottom: 40px;
    box-shadow: none;
}
.nav{
  display:flex;
}
.nav:active{
  margin-top:0px;
}
@media only screen and (max-width: 600px) {
  .description{
    width: 500xp;
    
  }
}
@media only screen and (max-width: 800px) {
  .description{
    width: 700xp;
    
  }
}
@media only screen and (max-width: 700px) {
  .description{
    width: 500xp;
    
  }
}
@media only screen and (max-width: 900px) {
  .description{
    width: 800xp;
    
  }
}
