body{
    background-color: #0092AF;
  }

h1{
    font-family: system-ui;
    color: white;
    margin:auto;
    border: 0px solid;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.35);
    width: fit-content;
    padding-right:20px;
    padding-left:20px;
    font-size: 85px;
  }
.AboutMe{
  width: 500px;
  font-size: 17px;
  border: 4px #3498db solid;
  border-radius: 10px;
  padding: 5px;
  background-color: #ccf4fa;
  word-spacing: 10px;
  padding-left: 40px;
}

.menu{
    display:block;
    width: fit-content;
    overflow-x: auto; 
    margin: 0px;
    font-size: 21px;
}
.menu li {
    display: inline-block;
    margin-right: 10px;
}
.menu a{
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 1.6px;
    text-decoration: none;
}
.menu a:hover{
    font-size:23px;
    border-width: 3px;
    
}

a{
    color: cyan;
    font-style: italic;
    text-decoration: underline;
}
.h2{
    font-size: 42px;
    text-align:center;
    color: white;
    font-family:monospace;
}
h3{
    font-size: 25px;
}
.us{
    text-decoration: line-through;
    font-style: italic;
}
.Social{
    letter-spacing: 15px;
}
.description {
    border: 2px solid #3498db;
    padding: 0px 10PX;
    padding-left: 40px;
    border-radius: 10px;    
    width: 500px;
    background-color: #ccf4fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    word-spacing: 10px;
  }
  
  /* Emphasize key points */
  .red {
    font-weight: bold;
    color: #e74c3c;
  }
  
  /* Highlight the call to action */

  
  /* Add a flourish */
  .flourish {
    margin-left: 0px;
    font-size: 24px;
    color: purple;
    font-size: 22.5px;
    text-decoration: none;
  }
  .flourish:hover{
    text-decoration: underline;

  }
  @media screen and (max-width: 600px) {
      .description{
          transition: width 0s ease-in-out  0s;
          width: 250px;

      }
      .AboutMe{
        width: 250px;
      }

  }